* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container1 {
  margin: auto;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgba(98, 136, 136, 0.349);
  padding: 10px;
  margin-top: 20px;
  box-shadow: 5px 10px 18px rgba(51, 145, 112, 0.44);
  border-radius: 20px;
  background-color: rgb(224, 243, 239);
}

.all {
  width: 300px;
  height: 540px;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 20px;
  margin-right: 10px;
}
body {
  background-color: aliceblue;
}

img {
  width: 270px;
  margin: auto;
  height: 230px;
  border-radius: 20px;
}
.wall,
.wall2 {
  height: 560px;
  width: 400px;
}

.h3-home {
  text-align: center;
  padding: 10px 5px;
  font-size: 22px;
  color: rgb(51, 145, 112);
  margin: 10px 15px 5px;
  width: fit-content;
  margin:10px  auto 5px;
}
p {
  text-align: center;
  padding: 20px 5px;
  font-size: 16px;
  color: rgb(91, 161, 137);
  margin-bottom: 2px;
}
.login1,
.login11 ,.link{
  width: 200px;
  height: 40px;
  color: white;
  padding: 3px;
  background-color: rgb(51, 145, 112);
  /* font-weight: bold; */
  font-size: 18px;
  border: none;
  outline: none;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 20px;
  cursor: pointer;
}
.login11 {
  margin-bottom: 15px;
}

.out {
  height: auto!important;
  margin: auto;
  width: 320px;
  height: 200px;
  padding: 10px 50px;
  border: 2px solid rgb(91, 161, 137);
  margin-top: 50px;
  border-radius: 10px !important;
  margin-bottom: 30px !important;
}

h2 {
  text-align: start;
  padding: 10px 5px;
  font-size: 22px;
  color: rgb(91, 161, 137);
  margin-bottom: 20px;
}
.buttons {
  margin: auto;
  padding-left: 20px;
  display: flex;
}
button{
  font-size: 14px !important;
  padding: 10px !important;
}
.yes ,.no{
  width: 70px;
  padding: 5px;
  color: white;
  background-color: rgb(91, 161, 137);
  margin-right: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.yes:hover ,.no:hover{
  background-color: rgba(91, 161, 136, 0.63);

}

/* .no {
  width: 70px;
  padding: 5px;
  color: white;
  background-color: rgb(51, 145, 112);
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */
.link{
  text-align: center;
  text-decoration: none;
  margin-bottom: 10px;
  padding: 4px;
}
.link:hover{
  background-color: rgba(51, 145, 112, 0.775)
}